/* calculator-container */
.calculator-container {
  position: relative;
  width: 272px;
  background-color: #d5d5d5;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  padding: 20px 10px;
}

/* calculator-display */
.calculator-display .form-control[disabled] {
  background-color: #434343;
  color: #fff;
}

/* calculator-keyboard */
.calculator-keyboard {
  margin-top: 10px;
}

.calculator-keyboard > div:first-child {
  margin-top: 0;
}

.calculator-keyboard > div:last-child {
  margin-bottom: 0;
}

.calculator-keyboard > div {
  margin: 5px 0;
}


.calculator-keyboard .btn {
  width: 60px;
}

.calculator-keyboard .btn-xlg {
  width: 124px;
}

/* calculator-history */
.calculator-history {
  position: absolute;
  right: -250px;
  top: 30px;
  bottom: 30px;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: #434343;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.calculator-history .title {
  padding: 5px;
  background-color: #d5d5d5;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
  font-size: 9px;
  border-top-right-radius: 6px;
}

.calculator-history .title span {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.calculator-history ul {
  height: 295px;
  margin: 10px;
  padding: 0 0 0 15px;
  white-space: nowrap;
  overflow: scroll;
}

.calculator-history ul li {
  font-family: monospace;
  font-size: 11px;
  color: #fff;
}
