<div class="calculator-history" ng-show="isHistoryVisible">
  <div class="title">{{title}} <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="clearList()"></span></div>
  <ul>
    <li ng-repeat="operation in operationsRegistry track by $index">{{operation}}</li>
  </ul>
</div>
