<div class="container calculator-container">
  <calculator-display input="input"></calculator-display>
  <calculator-keyboard></calculator-keyboard>
  <calculator-history is-history-visible="isHistoryVisible" clear-history="clearHistory" operations-registry="operationsRegistry"></calculator-history>
</div>
