<div class="calculator-keyboard">
  <div>
    <input type="button" class="btn btn-lg btn-danger" value="AC" ng-click="clearInput()" />
    <button class="btn btn-lg btn-warning" title="Save Session" ng-click="saveSession()" >
      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
    </button>
    <button class="btn btn-lg btn-warning" title="Restore Session" ng-click="restoreSession()">
      <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>
    </button>
    <button class="btn btn-lg btn-warning" title="Session Registry" ng-click="toggleHistoryVisibility()">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    </button>
  </div>
  <div>
    <input type="button" class="btn btn-lg btn-info" value="(" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value=")" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value="log" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value="/" ng-click="updateInput($event)" />
  </div>
  <div>
    <input type="button" class="btn btn-lg btn-default" value="7" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="8" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="9" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value="*" ng-click="updateInput($event)" />
  </div>
  <div>
    <input type="button" class="btn btn-lg btn-default" value="4" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="5" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="6" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value="-" ng-click="updateInput($event)" />
  </div>
  <div>
    <input type="button" class="btn btn-lg btn-default" value="1" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="2" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="3" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-info" value="+" ng-click="updateInput($event)" />
  </div>
  <div>
    <input type="button" class="btn btn-lg  btn-xlg btn-default" value="0" ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-default" value="." ng-click="updateInput($event)" />
    <input type="button" class="btn btn-lg btn-success" value="=" ng-click="evaluateExpression($event)" />
  </div>
</div>
